/* Sets order of layers */
@layer reset, base, layout, components, utilities;

@view-transition {
  navigation: auto;
}

/* Base styles */
@layer base {
  :root {
    /* colors */
    --clr-white: hsl(0, 0%, 100%);
    --clr-gray-100: hsl(0, 2%, 79%);
    --clr-brand-400: hsl(25, 88%, 75%);
    --clr-brand-500: hsl(25, 88%, 66%);
    --clr-green-400: hsl(143, 19%, 49%);
    --clr-green-500: hsl(143, 38%, 37%);
    --clr-green-600: hsl(145, 29%, 19%);

    --clr-brown-100: hsl(10, 5%, 90%);
    --clr-brown-200: hsl(9, 7%, 85%);
    --clr-brown-300: hsl(9, 8%, 75%);
    --clr-brown-400: hsl(0, 6%, 60%);

    --clr-brown-500: hsl(10, 5%, 25%);
    --clr-brown-600: hsl(9, 7%, 21%);
    --clr-brown-700: hsl(9, 8%, 16%);
    --clr-brown-800: hsl(0, 6%, 15%);
    --clr-brown-900: hsl(0, 6%, 13%);

    --clr-orange-500: hsl(28, 43%, 28%);
    --clr-red-500: hsl(359, 34%, 24%);
    --clr-teal-500: hsl(186, 42%, 25%);

    /* border radius */
    --border-radius-1: 0.25rem;
    --border-radius-2: 0.5rem;
    --border-radius-3: 0.75rem;

    /* fonts */
    --ff-body: "Fira Sans", sans-serif;
    --ff-heading: "Outfit", sans-serif;

    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 3.75rem;
    --fs-1000: 3.75rem;

    @media (width > 760px) {
      --fs-300: 0.875rem;
      --fs-400: 1rem;
      --fs-500: 1.25rem;
      --fs-600: 1.5rem;
      --fs-700: 2rem;
      --fs-800: 3rem;
      --fs-900: 5rem;
      --fs-1000: 7.5rem;
    }

    /* semantics */
    --text-main: var(--clr-gray-100);
    --text-high-contrast: var(--clr-white);
    --text-brand: var(--clr-brand-500);
    --text-brand-light: var(--clr-brand-400);

    --background-accent-light: var(--clr-green-400);
    --background-accent-main: var(--clr-green-500);
    --background-accent-dark: var(--clr-green-600);

    --background-extra-light: var(--clr-brown-500);
    --background-light: var(--clr-brown-600);
    --background-main: var(--clr-brown-700);
    --background-dark: var(--clr-brown-800);
    --background-extra-dark: var(--clr-brown-900);

    --font-size-heading-sm: var(--fs-700);
    --font-size-heading-regular: var(--fs-800);
    --font-size-heading-lg: var(--fs-900);
    --font-size-heading-xl: var(--fs-1000);

    --font-size-sm: var(--fs-300);
    --font-size-regular: var(--fs-400);
    --font-size-md: var(--fs-500);
    --font-size-lg: var(--fs-600);
  }

  html {
    font-family: var(--ff-body);
    line-height: 1.6;
  }

  body {
    font-size: var(--font-size-regular);
    color: var(--text-main);
    background-color: var(--background-main);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--ff-heading);
    color: var(--text-high-contrast);
  }

  a {
    color: var(--text-high-contrast);
  }

  a:hover,
  a:focus-visible {
    color: var(--text-brand-light);
  }

  h1 {
    font-size: var(--font-size-heading-xl);
  }

  img {
    border-radius: var(--border-radius-3);
  }

  section {
    padding-block: 3.75rem;

    @media (width > 760px) {
      padding-block: 8rem;

      &[data-padding="compact"] {
        padding-block: 3.75rem;
      }
    }
  }
}

@layer layout {
  .flex-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .flow > :where(:not(:first-child)) {
    margin-top: var(--flow-spacer, 1em);
  }

  .grid-flow {
    display: grid;
    gap: var(--grid-flow-gap, 1rem);
  }

  .grid-auto-fill {
    --auto-fit-min-column-size: 250px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(
      auto-fill,
      minmax(min(var(--auto-fit-min-column-size), 100%), 1fr)
    );
  }

  .equal-columns {
    display: grid;
    gap: var(--equal-columns-gap, 1rem);
    align-items: var(--equal-columns-vertical-alignment, stretch);

    @media (width > 760px) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }

    &[data-gap="large"] {
      --equal-columns-gap: 2rem;
    }

    &[data-alignment="center"] {
      --equal-columns-vertical-alignment: center;
    }
  }

  .wrapper {
    max-width: 1130px;
    margin-inline: auto;
    padding-inline: 1rem;

    /* to prevent padding from affecting the width */
    box-sizing: content-box;
  }

  & .wide {
    max-width: 1330px;
  }

  & .narrow {
    max-width: 720px;
  }
}

@layer components {
  .skip-to-main {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 1rem;
    background: var(--background-accent-main);
    border-radius: var(--border-radius-2);
  }

  .skip-to-main:not(:focus) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
  }

  .site-header {
    padding-block: 1rem;

    overflow-x: clip;
    position: relative;
  }

  .site-header__inner {
    display: flex;
    gap: 0.5rem 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  [aria-controls="primary-nav"] {
    display: none;

    @media (width < 760px) {
      display: block;
      z-index: 100;
      cursor: pointer;
      background: transparent;
      border: 0;
    }

    img {
      border-radius: unset;
    }
  }

  .primary-navigation {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 1rem;
      list-style: none;
    }

    a {
      text-decoration: none;
    }

    @media (width < 760px) {
      display: none;
      opacity: 0;
      transition: opacity 0.2s, display 0.2s, translate 0.3s;
      transition-behavior: allow-discrete;
      translate: 100% 0%;

      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      font-size: var(--font-size-lg);
      font-weight: 700;
      font-family: var(--ff-heading);
      background-color: var(--background-accent-main);
      padding: 1.5rem;
      border-radius: 0 0 0 var(--border-radius-3);

      ul {
        gap: 0;
        flex-direction: column;
        padding-left: 0;
        margin-block: 0;
      }

      li {
        --delay: 0.2s;
        translate: 50%;
        transition: translate 0.2s var(--delay), opacity 0.2s var(--delay);
      }

      li:nth-child(2) {
        --delay: 0.3s;
      }

      li:nth-child(3) {
        --delay: 0.4s;
      }

      li:not(:first-child) {
        margin-block-start: 1rem;
        padding-block-start: 1rem;
        border-top: 2px solid var(--background-accent-light);
      }

      [aria-expanded="true"] ~ & {
        display: block;
        opacity: 1;
        translate: 0 0;

        @starting-style {
          opacity: 0;
          translate: 0 -30%;
        }

        li {
          opacity: 1;
          translate: 0 0;

          @starting-style {
            opacity: 0;
            translate: 50% 0%;
          }
        }
      }
    }
  }

  .site-footer {
    text-align: center;
    background-color: var(--background-dark);
    padding-block: 2rem;
    display: grid;
    gap: 2rem;

    a {
      color: var(--text-high-contrast);
    }

    a:hover,
    a:focus-visible {
      color: var(--text-brand-light);
    }
  }

  .site-footer__title {
    font-size: var(--font-size-heading-md);
    font-family: var(--ff-heading);
    font-weight: 700;
  }

  .hero {
    text-align: center;
    font-size: var(--font-size-md);
    color: var(--text-high-contrast);
    background-image: url(/resources/webp/hero.webp);
    background-size: cover;
    background-position: center;

    animation: fade-out forwards;
    animation-timeline: view();
    animation-range-start: exit;
  }

  .hero__title {
    font-size: var(--font-size-heading-lg);

    span {
      font-size: var(--font-size-heading-xl);
      color: var(--text-brand);
      display: block;
    }
  }

  .faq-bento {
    --card-title-color: var(--text-high-contrast);

    display: grid;
    gap: 1rem;
    grid-template-areas:
      "card-one"
      "card-two"
      "card-three"
      "card-four";

    @media (width > 600px) {
      grid-template-areas:
        "card-one card-two"
        "card-three card-four";
    }

    @media (width > 900px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "card-one card-two card-four"
        "card-three card-three card-four";
    }

    .card > img {
      height: 100%;
      object-fit: cover;
    }

    @media (width > 600px) {
      .card:nth-child(even) > img {
        order: 3;
      }
    }

    .card:nth-child(1) {
      grid-area: card-one;
    }
    .card:nth-child(2) {
      grid-area: card-two;
    }
    .card:nth-child(3) {
      grid-area: card-three;

      @media (width > 900px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      img {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
      }
    }
    .card:nth-child(4) {
      grid-area: card-four;
    }
  }

  .mushroom-guide {
    --card-title-font-size: var(--font-size-lg);
    --card-title-color: var(--text-high-contrast);
    --card-gap: 0.75rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: var(--card-gap, 1rem);
    padding: 1rem;
    background-color: var(--background-light);
    border-radius: var(--border-radius-3);

    img {
      border-radius: var(--border-radius-2);
    }
  }

  .card__title {
    font-size: var(--card-title-font-size, var(--font-size-heading-sm));
    color: var(--card-title-color, var(--text-brand));
  }

  .card__note {
    margin-block-start: auto;
    background-color: var(--background-extra-light);
    padding: 0.5rem 0.75rem;
    border-radius: var(--border-radius-2);
  }

  .tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    li {
      font-family: var(--ff-heading);
      color: var(--text-high-contrast);
      font-size: var(--font-size-sm);
      padding: 0.125rem 0.25rem;
      background-color: var(--tag-bg, red);
      border-radius: var(--border-radius-1);
    }

    [data-edible="edible"] {
      --tag-bg: var(--background-accent-main);
    }
    [data-edible="toxic"] {
      --tag-bg: var(--clr-red-500);
    }
    [data-season="summer"] {
      --tag-bg: var(--background-accent-main);
    }
    [data-season="spring"] {
      --tag-bg: var(--clr-teal-500);
    }
    [data-season="fall"] {
      --tag-bg: var(--clr-orange-500);
    }
  }

  .button {
    display: inline-flex;
    font-size: var(--font-size-md);
    text-decoration: none;
    cursor: pointer;
    padding: 0.5em 1em;
    background-color: var(--background-accent-main);
    font-family: var(--ff-heading);
    font-weight: 700;
    border-radius: var(--border-radius-2);
  }

  .button:hover,
  .button:focus-visible {
    color: var(--text-high-contrast);
    background-color: var(--background-accent-light);
  }

  select {
    padding: 0.5rem 1rem;
    background-color: var(--background-accent-main);
    border: 0;
    border-radius: var(--border-radius-2);
    color: var(--text-high-contrast);
  }
}

/* Reset styles */
@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    scroll-padding: 3rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

/* Utility */
@layer utilities {
  [hidden] {
    display: none;
  }

  .resizing * {
    transition: none;
    animation: paused;
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .text-main {
    color: var(--text-main);
  }
  .text-high-contrast {
    color: var(--text-high-contrast);
  }
  .text-brand {
    color: var(--text-brand);
  }
  .text-brand-light {
    color: var(--text-brand-light);
  }

  .background-accent-light {
    background-color: var(--background-accent-light);
  }
  .background-accent-main {
    background-color: var(--background-accent-main);
  }
  .background-accent-dark {
    background-color: var(--background-accent-dark);
  }

  .background-extra-light {
    background-color: var(--background-extra-light);
  }
  .background-light {
    background-color: var(--background-light);
  }
  .background-main {
    background-color: var(--background-main);
  }
  .background-dark {
    background-color: var(--background-dark);
  }
  .background-extra-dark {
    background-color: var(--background-extra-dark);
  }

  .font-size-heading-sm {
    font-size: var(--font-size-heading-sm);
  }
  .font-size-heading-regular {
    font-size: var(--font-size-heading-regular);
  }
  .font-size-heading-lg {
    font-size: var(--font-size-heading-lg);
  }
  .font-size-heading-xl {
    font-size: var(--font-size-heading-xl);
  }

  .font-size-sm {
    font-size: var(--font-size-sm);
  }
  .font-size-regular {
    font-size: var(--font-size-regular);
  }
  .font-size-md {
    font-size: var(--font-size-md);
  }
  .font-size-lg {
    font-size: var(--font-size-lg);
  }

  .section-title {
    font-size: var(--font-size-heading-regular);
  }

  .text-center {
    text-align: center;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
